:root{
    --dark:#2E2633;
    --white: #ffffff;
    --smoky: #eee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--smoky);
}
#gallery h2,
#services h2,
#about h2,
#contact h2{
    font-size: 2rem;
    padding: 1rem 0;
}
#gallery,
#services,
#contact,
#about{
    padding: 1rem;
    text-align: center;
}
.imgContainer{
    width: 100%;
}
img{
    width: 100%;
    max-height: 100%;
}
.callToAction{
    padding: 0.6rem 1.2rem;
    background-color: var(--dark);
    display: inline-block;
    margin: 1rem 0;
    transition: all 0.4s;
    border: 3px solid rgba(0, 0, 0, 0);
}
.callToAction a{
    text-decoration: none;
    color: var(--white);
}
.callToAction:hover{
    background-color: var(--white);
    border: 3px solid var(--dark);
}
.callToAction:hover a{
    color: var(--dark);
}

#header{
    background-color: var(--dark);
    text-align: center;
}
#header ul{
    list-style-type: none;
}
#header a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: var(--white);
    transition: background-color 0.4s;
}
#header a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
#header #logo{
    font-size: 2rem;
    color: var(--white);
}

#intro{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(to bottom, rgba(46,35,51,1), rgba(220,233,190,0.5)), url("../img/1\ \(4\).jpg");
    background: linear-gradient(to bottom, rgba(46,35,51,1), rgba(220,233,190,0.5)), url("../img/1\ \(4\).jpg");
    background-size: cover;
    text-align: center;
}
#intro h1{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}
#intro p{
    width: 80%;
    margin: 0 auto;
}

#aside{
    display: none;
}


#gallery .galleryContainer{
    display: grid;
    grid-column: 1fr;
    grid-gap: 1rem;
    grid-auto-rows: 12.5rem;
}

#services{
    background-color: var(--smoky);
}
.servicesContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.service{
    background-color: var(--white);
    padding: 0.6rem;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.service .imgContainer{
    height: 16rem;
}
.service .imgContainer img{
    min-height: 100%;
}
.service h3{
    font-size: 1.4rem;
    padding: 1rem 0;
}


#about p{
    margin: 0.6rem 0;
}

#contact{
    background-color: var(--smoky);
}
#contact form{
    max-width: 37.5rem;
    margin: auto;
}
#contact label{
    display: block;
    margin: 1rem 0 0.5rem 0;
    text-align: left;
    font-size: 1.1rem;
}
#contact input,
#contact textarea{
    width: 100%;
    padding: 1rem;
    border: none;
    max-height: 3rem;
}

#footer{
    text-align: center;
    background-color: teal;
    color: var(--white);
    font-size: 0.9rem;
    padding: 2rem 0;
}

@media screen and (min-width:650px) {
    #header ul{
        display: flex;
        align-items: center;
    }
    #header #logo{
        margin-right: auto;
    }
    #intro{
        height: 400px;
    }
    #aside{
        background-color: #fff;
        display: block; 
        padding: 1.5rem 0;
    }
    #aside h2{
        display: none;
    }
    #aside ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #aside a{
        color: var(--dark);
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1rem;
        transition: 0.4s;
        display: block;
        margin: 0 1rem;
    }
    #aside a:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }

    .galleryContainer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20rem;
    }
    .galleryContainer .imgContainer:first-child{
        grid-column: 1/4;
    }
    .servicesContainer{
        grid-template-columns: repeat(auto-fir, minmax(180px, 400px));
    }
}

@media  screen and (min-width:1200px) {
    body{
        display: grid;
        max-width: 1300px;
        margin: auto;
        grid-template-columns: 200px 950px 150px;
        grid-template-areas: "header intro intro"
        "header gallery aside"
        "header services aside"
        "header about aside"
        "header contact aside"
        "footer footer footer";
    }
    #header{
        grid-area:header;
        text-align: center;
    }
    #header #logo{
        font-size: 1.6rem;
        padding: 1rem;
        margin: 0;
    }
    #header li{
        display: block;
        width: 100%;
    }
    #header ul{
        flex-direction: column;
    }
    #intro{
        grid-area:intro;
    }
    #aside{
        grid-area:aside;
        padding: 0;

    }
    #aside h2{
        display: block;
        font-size: 1.5rem;
        padding: 1rem;
    }
    #aside ul{
        flex-direction: column;
    }
    #gallery{
        grid-area:gallery;
    }
    #services{
        grid-area:services;
    }
    #about{
        grid-area:about;
    }
    #contact{
        grid-area:contact;
    }
    #footer{
        grid-area: footer;
    }
    
}